$BLUEDARK: #1e3360;

/* CONTROLE DO SPINNER */

.loader-hidden {
    visibility: hidden;
  }
  
  .loader-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 9999999;
    .spinner-bg {
      background: $BLUEDARK;
    }
  }