 
.mat-card-title {
    align-items: stretch;
    
  }
  
  .layout-cards {
    line-height: inherit;
    margin: 0;
    text-align: start;
  }
  
  .card-img {
    position: relative;
    height: 240px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
      &::before {
      content: "";
        display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }
      @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }
  }

  button {
      width: 45%;
  }