<h2>Pessoas</h2>
<button class="button-person" color="primary" (click)="openDialog()">
  <mat-icon matListIcon>add</mat-icon>
</button>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> NOME</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="dataNascimento">
      <th mat-header-cell *matHeaderCellDef> DATA DE NASCIMENTO</th>
      <td mat-cell *matCellDef="let element">{{ element.birthDate | date}}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> EMAIL </th>
      <td mat-cell *matCellDef="let element">{{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> SEXO </th>
      <td mat-cell *matCellDef="let element">{{ getGender(element.genderId)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>